<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'index' %}">Главная</a>
  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'reservation' %}">Бронирование</a>
  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'schedule' %}">Расписание</a>
  <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="{% url 'support' %}">Поддержка</a>
  <a class="py-2 link-body-emphasis text-decoration-none" href="{% url 'news' %}">Новости</a>
</nav>